# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.so.*

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bin
*.elf

# Build directories
build/
Build/
build-*/

#Binray directories
bin/


# Temporary files
*.tmp
*.log
*.bak
*.swp
.DS_Store
Thumbs.db

# vcpkg
vcpkg_installed/

# debug information files
*.dwo

# test output & cache
Testing/
.cache/

#VS Code Settings
.vscode/tasks.json
.vscode/launch.json
.csvode/settings.json

#DO NOT IGNORE
!/vex/
!.vscode/vex_project_settings.json

